body {
  margin: 0;
  padding: 0; }

ul {
  padding: 0;
  margin: 0; }

.branner {
  position: fixed;
  height: 340px;
  width: 100%;
  top: 0;
  left: 0; }
  .branner .brain, .branner .left-brain, .branner .right-brain {
    width: 100%;
    height: 340px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    text-align: center;
    overflow: hidden; }
  .branner .left-brain {
    background: #465f82 url(../../imgs/figure_left.png) no-repeat fixed 49% -45px/560px auto; }
  .branner .right-brain {
    background: #b9e492 url(../../imgs/figure_right.png) no-repeat fixed 49% -45px/560px auto; }

.bg {
  background-color: #44444b; }

.main {
  width: 80%;
  margin: 200px auto 10px auto;
  position: relative; }

.menu-div {
  height: 26px; }

.menu-base, .left-menu, .right-menu {
  width: 49%;
  display: inline-block;
  box-sizing: border-box;
  color: white; }

.left-menu {
  text-align: right;
  padding-right: 100px; }

.right-menu {
  text-align: left;
  padding-left: 140px; }

.menu-item {
  padding: 2px 15px;
  margin: 0 5px;
  display: inline-block; }
  .menu-item:hover {
    border-bottom: 4px solid #ff9c63; }

.content {
  border-radius: 7px;
  background-color: white;
  padding: 5px; }

.panel {
  margin: 25px 25px 0 25px;
  background: white; }
  .panel .title {
    line-height: 40px;
    padding-left: 20px;
    font-size: 20px;
    border-left: 4px solid #ff9c63; }
  .panel .main-div {
    font-size: 14px;
    line-height: 29px;
    border-bottom: 1px solid #DDDDDD;
    padding: 20px 0;
    color: #6C6C6C; }

.f_white {
  color: white; }

.f_black {
  color: black; }

.fix-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.4); }

.footer {
  width: 50px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.63);
  position: fixed;
  top: 242px;
  right: 2%;
  padding: 0px;
  text-align: center;
  box-sizing: border-box; }
  .footer span {
    cursor: pointer; }
    .footer span img {
      margin: 10px 0;
      height: 32px;
      width: 32px; }

.branner_ani_pic, .gear_1, .gear_2, .gear_3, .roll_1, .roll_2, .roll_3 {
  position: fixed;
  filter: alpha(opacity=30);
  -moz-opacity: 0.30;
  opacity: 0.30;
  animation: change 6s linear infinite; }

.gear_1 {
  top: 80px;
  right: 0;
  -webkit-animation: change-rev 6s linear infinite; }

.gear_2 {
  top: 20px;
  right: 130px; }

.gear_3 {
  top: 70px;
  right: 175px; }

.roll_1 {
  top: 80px;
  left: 0;
  animation: change-rev 6s linear infinite; }

.roll_2 {
  top: 20px;
  left: 130px; }

.roll_3 {
  top: 70px;
  left: 175px; }

.weixin {
  position: absolute;
  top: -80px;
  left: -120px; }

.scale {
  animation: scale 0.3s linear 1 alternate; }

.scale-rev {
  animation: scale-rev 0.3s linear 1 alternate; }

@-webkit-keyframes change {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes change {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-o-keyframes change {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes change {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes change-rev {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }
@-moz-keyframes change-rev {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }
@-o-keyframes change-rev {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }
@keyframes change-rev {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-180deg); }
  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes scale {
  0% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  100% {
    transform: scale(1, 1); } }
@-moz-keyframes scale {
  0% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  100% {
    transform: scale(1, 1); } }
@-o-keyframes scale {
  0% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  100% {
    transform: scale(1, 1); } }
@keyframes scale {
  0% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  100% {
    transform: scale(1, 1); } }
@-webkit-keyframes scale-rev {
  100% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  0% {
    transform: scale(1, 1); } }
@-moz-keyframes scale-rev {
  100% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  0% {
    transform: scale(1, 1); } }
@-o-keyframes scale-rev {
  100% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  0% {
    transform: scale(1, 1); } }
@keyframes scale-rev {
  100% {
    transform: scale(0, 0);
    transform-origin: right bottom; }
  0% {
    transform: scale(1, 1); } }

/*# sourceMappingURL=main.css.map */
